<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring_01.mapper.UserPMapper">
    <select id="list" resultType="com.example.spring_01.pojo.UserP">
        select * from userpost
    </select>

    <!--新增任岗用户-->
    <insert id="insert">
        insert into `userpost`(id,user_id,post_id,status,create_time,userpostcode)
        values(REPLACE(UUID(), '-', ''),#{userP.userId},#{userP.postId},#{userP.status},#{userP.createTime},#{userP.userPostcode})
    </insert>


    <!--更改用户的任岗状态-->
    <update id="update">
        update `userpost` set status=#{status},updatetime=#{updateTime} where user_id=#{userId}
    </update>



</mapper>